# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

# Project specific
fine_tuning_data/create_labeled_data.py 